/* Global Vars */
:root
{
  --body-bg-color: #f4f1f19e;
  --main-bg-color: white;
  --font-weight: 2.5rem;
  --info-color: #9c9c9c;

}


/**/
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background: var(--body-bg-color);
  margin: auto 0;
  padding: 16px;
  
}

#app-name{
  text-align: center;
}
#app-name h1
{
  font-size: 2.3rem;
}
/* Sections */
#main{
  background: var(--main-bg-color);
  position: relative;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.18);
  margin-bottom: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#add-meal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  
  z-index: 999;
  
}
#macro-meal{
  flex-direction: row;
}
#meal-summary-overlay{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--body-bg-color);
  box-shadow: 0.5px 0px 4px rgb(136, 135, 135);
  z-index: 1000;
  gap: 2px
}
#meal-buttons {
  display: flex;
  justify-content: center;  
  
}
#meal-macro-summary{
  display: flex;
  flex-direction: flex-end;
  gap: 5px;
}
#food-list-container{
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
}
#options-button {
  position: absolute;
  left: 0;
  top:0;
  z-index: 1000;
}
#options-window{
  position: absolute;
  display:flex;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  box-shadow: 0.5px 0px 4px rgb(136, 135, 135);
  justify-content: center;
  flex-direction: column;
  font-weight: var(--font-weight);
}
/* ClassStyles */
.user-input{
  border: 2px solid rgb(84, 83, 83);
  border-radius: 2.5%;
  font-weight:var(--font-weight);
}
.overlay-btn{
  border: 0.2px solid rgb(255, 251, 251);
  border-radius: 15%;
  font-weight: var(--font-weight);
}
.set-row{
  display: flex;
  align-content: center;
  border-bottom: 2px solid #796f6f;
  justify-content: space-between;
  padding: 13px 1px;
}
.set-info{
  color: var(--info-color);
}
.set-input{
  width: 2.5rem;
  
}
/* Progress Bars */

/* Hidden */
#add-meal-container.hidden{
  display: none;  
}

#meal-summary-overlay.hidden{
  display: none;
}
#food-list-container.hidden{
  display: none;
}

#options-window.hidden{
  display:none;
}